


<div class="flex justify-around flex-wrap bg-gray-100 p-6">

    <div class="w-80 mb-8 flex items-center flex-col rounded-xl border-gray-100 shadow-md bg-white border-1  ">
      <div class="mt-8 mb-8">
        <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            class="w-32 h-32 rounded-full">
      </div>
  
      <h2 class="font-bold">Jane Cooper</h2>
      <h2>Paradigm Representative</h2>
      <h3 class="m-5 pt-1 pb-1 pr-4 pl-4 font-bold text-green-900 bg-green-200 rounded-full">Admin</h3>
      
      <div class="w-full flex justify-around mt-3 border-t-2">
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-bl-md border-r-2 hover:bg-gray-300">
          <phone-outline-icon class="w-5 h-5"></phone-outline-icon>
          <p class="font-bold ml-4">Email</p>
        </button>
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-br-md border-l-1 hover:bg-gray-300">
          <envelope-outline-icon class="w-5 h-5"> </envelope-outline-icon>
          <button class="font-bold ml-4">Call</button>
        </button>
  
      </div>
    </div>
  
    <div class="w-80 mb-8 flex items-center flex-col rounded-xl border-gray-100 shadow-md bg-white border-1  ">
      <div class="mt-8 mb-8">
        <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            class="w-32 h-32 rounded-full">
      </div>
  
      <h2 class="font-bold">Jane Cooper</h2>
      <h2>Paradigm Representative</h2>
      <h3 class="m-5 pt-1 pb-1 pr-4 pl-4 font-bold text-green-900 bg-green-200 rounded-full">Admin</h3>
      
      <div class="w-full flex justify-around mt-3 border-t-2">
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-bl-md border-r-2 hover:bg-gray-300">
          <phone-outline-icon class="w-5 h-5"></phone-outline-icon>
          <p class="font-bold ml-4">Email</p>
        </button>
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-br-md border-l-1 hover:bg-gray-300">
          <envelope-outline-icon class="w-5 h-5"> </envelope-outline-icon>
          <button class="font-bold ml-4">Call</button>
        </button>
  
      </div>
    </div>
  
    <div class="w-80 mb-8 flex items-center flex-col rounded-xl border-gray-100 shadow-md bg-white border-1  ">
      <div class="mt-8 mb-8">
        <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            class="w-32 h-32 rounded-full">
      </div>
  
      <h2 class="font-bold">Jane Cooper</h2>
      <h2>Paradigm Representative</h2>
      <h3 class="m-5 pt-1 pb-1 pr-4 pl-4 font-bold text-green-900 bg-green-200 rounded-full">Admin</h3>
      
      <div class="w-full flex justify-around mt-3 border-t-2">
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-bl-md border-r-2 hover:bg-gray-300">
          <phone-outline-icon class="w-5 h-5"></phone-outline-icon>
          <p class="font-bold ml-4">Email</p>
        </button>
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-br-md border-l-1 hover:bg-gray-300">
          <envelope-outline-icon class="w-5 h-5"> </envelope-outline-icon>
          <button class="font-bold ml-4">Call</button>
        </button>
  
      </div>
    </div>
  
    <div class="w-80 mb-8 flex items-center flex-col rounded-xl border-gray-100 shadow-md bg-white border-1  ">
      <div class="mt-8 mb-8">
        <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            class="w-32 h-32 rounded-full">
      </div>
  
      <h2 class="font-bold">Jane Cooper</h2>
      <h2>Paradigm Representative</h2>
      <h3 class="m-5 pt-1 pb-1 pr-4 pl-4 font-bold text-green-900 bg-green-200 rounded-full">Admin</h3>
      
      <div class="w-full flex justify-around mt-3 border-t-2">
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-bl-md border-r-2 hover:bg-gray-300">
          <phone-outline-icon class="w-5 h-5"></phone-outline-icon>
          <p class="font-bold ml-4">Email</p>
        </button>
  
        <button class="flex w-full justify-center pt-4 pb-4 rounded-br-md border-l-1 hover:bg-gray-300">
          <envelope-outline-icon class="w-5 h-5"> </envelope-outline-icon>
          <button class="font-bold ml-4">Call</button>
        </button>
  
      </div>
    </div>
  
  </div>
  