<div class="flex items-center justify-between text-gray-300 bg-gray-800 p-4">

    <div class="hidden sm:block sm:justify-between space-x-6">
      <a class="font-medium px-3 py-1 rounded-md text-white bg-gray-900" href="#">Dasbord</a>
      <a class="font-medium px-3 py-1 rounded-md hover-text-white bg-gray-700" href="#">Team</a>
      <a class="font-medium px-3 py-1 rounded-md hover-text-white bg-gray-700" href="#">Projects</a>
      <a class="font-medium px-3 py-1 rounded-md hover-text-white bg-gray-700" href="#">Calendare</a>
    </div>

      <bars-3-outline-icon class="sm.hidden"/>

    <div class="flex items-center">
     
      <bell-outline-icon class="pr-4 hover:cursor-pointer hover:text-white"/>
    
      <img class="w-8 h-8 rounded-full"
        src="https://cdn.shopify.com/s/files/1/0287/6738/7780/products/PHOTO-PROFIL-MEC-ORANGE.png?v=1597638270"
        alt="avatar">
    </div>
</div>
